body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #202020;
}

:lang(zh) {
    font-family: "Microsoft YaHei";
    font-weight: normal;
}

.mainpage {
    padding: 20px;
}

.centrecolumn {
    max-width: 1000px;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, div, input {
    font-family: inherit;
    font-weight: inherit;
}

h1 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 1em 0em;
    text-align: center;
}

p {
    font-size: 17px;
    margin: 1.25em 0em;
    text-align: center;
}

a {
    color: #105ecc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.multiplechoice {
    margin: 3em 0em;
    font-size: 22px;
}

.multiplechoice-question {
    text-align: center;
    font-size: 1.5em;
}

.multiplechoicewords-choices {
    display: flex;
    flex-direction: row;
    margin: 2em 0em;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.multiplechoicesentences-choices {
    display: flex;
    flex-direction: column;
    margin: 2em 0em;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.multiplechoice-choice {
    border-radius: 2px;
    margin: 5px;
    min-width: 3em;
    padding: 0.5em 1em;
    text-align: center;
    cursor: default;
    transition: background-color 0.25s, border 0.25s, box-shadow 0.25s;
}

.multiplechoice-choice-selectable {
    border: 1px solid hsla(0, 0%, 70%, 1);
    cursor: pointer;
}

.multiplechoice-choice-selectable:hover {
    border: 1px solid hsla(0, 0%, 50%, 1);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.1);
}

.multiplechoice-choice-notselectable {
    border: 1px solid hsla(0, 0%, 90%, 1);
    color: hsla(0, 0%, 70%, 1);
}

.multiplechoice-choice-selected-correct {
    background-color: hsla(95, 60%, 45%, 1);
    border: 1px solid hsla(95, 60%, 35%, 1);
    color: white;
}

.multiplechoice-choice-selected-incorrect {
    background-color: hsla(30, 80%, 50%, 1);
    border: 1px solid hsla(30, 80%, 40%, 1);
    color: white;
}